:local(.menu) {
  border-radius: 0 !important;
  border: none !important;
  margin-bottom: 0 !important;
}

:local(.logo) {
  margin-left: 5px;
  width: 80px;
}

:local(.account) {
  display: flex;
  align-items: center;
}

:local(.accountIcon) {
  color: #005aad;
  cursor: pointer;
  height: 26px;
  width: 26px;
}

:local(.addressTag) {
  height: 26px;

  @media (max-width: 768px) {
    display: none !important;
  }
}
