:local(.menu) {
  border-radius: 0 !important;
  border: none !important;
  margin-bottom: 0 !important;
}

:local(.logo) {
  width: 45px !important;
  height: 45px !important;
}

:local(.logoText) {
  font-size: 22px;
  font-weight: 800;
  padding-left: 8px;
}

:local(.account) {
  display: flex;
  align-items: center;
}

:local(.accountIcon) {
  color: #005aad;
  cursor: pointer;
  height: 26px;
  width: 26px;
}

:local(.addressTag) {
  height: 26px;

  @media (max-width: 768px) {
    display: none !important;
  }
}
